{% extends "direngine/base.html" %}
{% load static %}

{% block content %}
    {% if slideshow %}
        {% block hero-image %}{% endblock %}
    {% endif %}

    {% if whyus %}
        {% block why-us %}{% endblock %}
    {% endif %}
  
    {% if fasilities %}
        {% block fasilities %}{% endblock %}
    {% endif %}
    
    {% if photogallery %}
        {% block gallery %}{% endblock %}
    {% endif %}

    {% if calendar %}
        {% block calendar %}{% endblock %}
    {% endif %}

  <!-- <section class="ftco-section bg-light">
      <div class="container">
              <div class="row justify-content-start mb-5 pb-3">
        <div class="col-md-7 heading-section ftco-animate">
            <span class="subheading">Special Offers</span>
          <h2 class="mb-4"><strong>Top</strong> Tour Packages</h2>
        </div>
      </div>    		
      </div>
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm col-md-6 col-lg ftco-animate">
                  <div class="destination">
                      <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/destination-1.jpg);">
                          <div class="icon d-flex justify-content-center align-items-center">
                              <span class="icon-search2"></span>
                          </div>
                      </a>
                      <div class="text p-3">
                          <div class="d-flex">
                              <div class="one">
                                  <h3><a href="#">Paris, Italy</a></h3>
                                  <p class="rate">
                                      <i class="icon-star"></i>
                                      <i class="icon-star"></i>
                                      <i class="icon-star"></i>
                                      <i class="icon-star"></i>
                                      <i class="icon-star-o"></i>
                                      <span>8 Rating</span>
                                  </p>
                              </div>
                              <div class="two">
                                  <span class="price">$200</span>
                              </div>
                          </div>
                          <p>Far far away, behind the word mountains, far from the countries</p>
                          <p class="days"><span>2 days 3 nights</span></p>
                          <hr>
                          <p class="bottom-area d-flex">
                              <span><i class="icon-map-o"></i> San Franciso, CA</span> 
                              <span class="ml-auto"><a href="#">Discover</a></span>
                          </p>
                      </div>
                  </div>
              </div>
              <div class="col-sm col-md-6 col-lg ftco-animate">
                  <div class="destination">
                      <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/destination-2.jpg);">
                          <div class="icon d-flex justify-content-center align-items-center">
                              <span class="icon-search2"></span>
                          </div>
                      </a>
                      <div class="text p-3">
                          <div class="d-flex">
                              <div class="one">
                                  <h3><a href="#">Paris, Italy</a></h3>
                                  <p class="rate">
                                      <i class="icon-star"></i>
                                      <i class="icon-star"></i>
                                      <i class="icon-star"></i>
                                      <i class="icon-star"></i>
                                      <i class="icon-star-o"></i>
                                      <span>8 Rating</span>
                                  </p>
                              </div>
                              <div class="two">
                                  <span class="price">$200</span>
                              </div>
                          </div>
                          <p>Far far away, behind the word mountains, far from the countries</p>
                          <p class="days"><span>2 days 3 nights</span></p>
                          <hr>
                          <p class="bottom-area d-flex">
                              <span><i class="icon-map-o"></i> San Franciso, CA</span> 
                              <span class="ml-auto"><a href="#">Discover</a></span>
                          </p>
                      </div>
                  </div>
              </div>
              <div class="col-sm col-md-6 col-lg ftco-animate">
                  <div class="destination">
                      <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/destination-3.jpg);">
                          <div class="icon d-flex justify-content-center align-items-center">
                              <span class="icon-search2"></span>
                          </div>
                      </a>
                      <div class="text p-3">
                          <div class="d-flex">
                              <div class="one">
                                  <h3><a href="#">Paris, Italy</a></h3>
                                  <p class="rate">
                                      <i class="icon-star"></i>
                                      <i class="icon-star"></i>
                                      <i class="icon-star"></i>
                                      <i class="icon-star"></i>
                                      <i class="icon-star-o"></i>
                                      <span>8 Rating</span>
                                  </p>
                              </div>
                              <div class="two">
                                  <span class="price">$200</span>
                              </div>
                          </div>
                          <p>Far far away, behind the word mountains, far from the countries</p>
                          <p class="days"><span>2 days 3 nights</span></p>
                          <hr>
                          <p class="bottom-area d-flex">
                              <span><i class="icon-map-o"></i> San Franciso, CA</span> 
                              <span class="ml-auto"><a href="#">Discover</a></span>
                          </p>
                      </div>
                  </div>
              </div>
              <div class="col-sm col-md-6 col-lg ftco-animate">
                  <div class="destination">
                      <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/destination-4.jpg);">
                          <div class="icon d-flex justify-content-center align-items-center">
                              <span class="icon-search2"></span>
                          </div>
                      </a>
                      <div class="text p-3">
                          <div class="d-flex">
                              <div class="one">
                                  <h3><a href="#">Paris, Italy</a></h3>
                                  <p class="rate">
                                      <i class="icon-star"></i>
                                      <i class="icon-star"></i>
                                      <i class="icon-star"></i>
                                      <i class="icon-star"></i>
                                      <i class="icon-star-o"></i>
                                      <span>8 Rating</span>
                                  </p>
                              </div>
                              <div class="two">
                                  <span class="price">$200</span>
                              </div>
                          </div>
                          <p>Far far away, behind the word mountains, far from the countries</p>
                          <p class="days"><span>2 days 3 nights</span></p>
                          <hr>
                          <p class="bottom-area d-flex">
                              <span><i class="icon-map-o"></i> San Franciso, CA</span> 
                              <span class="ml-auto"><a href="#">Discover</a></span>
                          </p>
                      </div>
                  </div>
              </div>
              <div class="col-sm col-md-6 col-lg ftco-animate">
                  <div class="destination">
                      <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/destination-5.jpg);">
                          <div class="icon d-flex justify-content-center align-items-center">
                              <span class="icon-search2"></span>
                          </div>
                      </a>
                      <div class="text p-3">
                          <div class="d-flex">
                              <div class="one">
                                  <h3><a href="#">Paris, Italy</a></h3>
                                  <p class="rate">
                                      <i class="icon-star"></i>
                                      <i class="icon-star"></i>
                                      <i class="icon-star"></i>
                                      <i class="icon-star"></i>
                                      <i class="icon-star-o"></i>
                                      <span>8 Rating</span>
                                  </p>
                              </div>
                              <div class="two">
                                  <span class="price">$200</span>
                              </div>
                          </div>
                          <p>Far far away, behind the word mountains, far from the countries</p>
                          <p class="days"><span>2 days 3 nights</span></p>
                          <hr>
                          <p class="bottom-area d-flex">
                              <span><i class="icon-map-o"></i> San Franciso, CA</span> 
                              <span class="ml-auto"><a href="#">Discover</a></span>
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section> -->

  <!-- <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(images/bg_1.jpg);">
      <div class="container">
          <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
          <h2 class="mb-4">Some fun facts</h2>
          <span class="subheading">More than 100,000 websites hosted</span>
        </div>
      </div>
          <div class="row justify-content-center">
              <div class="col-md-10">
                  <div class="row">
                <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                  <div class="block-18 text-center">
                    <div class="text">
                      <strong class="number" data-number="100000">0</strong>
                      <span>Happy Customers</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                  <div class="block-18 text-center">
                    <div class="text">
                      <strong class="number" data-number="40000">0</strong>
                      <span>Destination Places</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                  <div class="block-18 text-center">
                    <div class="text">
                      <strong class="number" data-number="87000">0</strong>
                      <span>Hotels</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                  <div class="block-18 text-center">
                    <div class="text">
                      <strong class="number" data-number="56400">0</strong>
                      <span>Restaurant</span>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
      </div>
  </section> -->

    {% if offers %}
        {% block special-offers %}{% endblock %}
    {% endif %}

    {% if testimony or aboutus %}
        <section class="ftco-section testimony-section bg-light">
            <div class="container">
                <div class="row justify-content-start">
                    {% block aboutus %}{% endblock %}
                    
                    <div class="col-md-1"></div>
                    
                    {% block testimony %}{% endblock %}
                </div>
            </div>
        </section>
    {% endif %}

  <!-- <section class="ftco-section">
      <div class="container">
              <div class="row justify-content-start mb-5 pb-3">
        <div class="col-md-7 heading-section ftco-animate">
            <span class="subheading">Special Offers</span>
          <h2 class="mb-4"><strong>Popular</strong> Restaurants</h2>
        </div>
      </div>    		
          <div class="row">
              <div class="col-md-6 col-lg-3 ftco-animate">
                  <div class="destination">
                      <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/restaurant-1.jpg);">
                          <div class="icon d-flex justify-content-center align-items-center">
                              <span class="icon-search2"></span>
                          </div>
                      </a>
                      <div class="text p-3">
                          <h3><a href="#">Luxury Restaurant</a></h3>
                          <p class="rate">
                              <i class="icon-star"></i>
                              <i class="icon-star"></i>
                              <i class="icon-star"></i>
                              <i class="icon-star"></i>
                              <i class="icon-star-o"></i>
                              <span>8 Rating</span>
                          </p>
                          <p>Far far away, behind the word mountains, far from the countries</p>
                          <hr>
                          <p class="bottom-area d-flex">
                              <span><i class="icon-map-o"></i> San Franciso, CA</span> 
                              <span class="ml-auto"><a href="#">Discover</a></span>
                          </p>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3 ftco-animate">
                  <div class="destination">
                      <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/restaurant-2.jpg);">
                          <div class="icon d-flex justify-content-center align-items-center">
                              <span class="icon-search2"></span>
                          </div>
                      </a>
                      <div class="text p-3">
                          <h3><a href="#">Luxury Restaurant</a></h3>
                          <p class="rate">
                              <i class="icon-star"></i>
                              <i class="icon-star"></i>
                              <i class="icon-star"></i>
                              <i class="icon-star"></i>
                              <i class="icon-star-o"></i>
                              <span>8 Rating</span>
                          </p>
                          <p>Far far away, behind the word mountains, far from the countries</p>
                          <hr>
                          <p class="bottom-area d-flex">
                              <span><i class="icon-map-o"></i> San Franciso, CA</span> 
                              <span class="ml-auto"><a href="#">Book Now</a></span>
                          </p>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3 ftco-animate">
                  <div class="destination">
                      <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/restaurant-3.jpg);">
                          <div class="icon d-flex justify-content-center align-items-center">
                              <span class="icon-search2"></span>
                          </div>
                      </a>
                      <div class="text p-3">
                          <h3><a href="#">Luxury Restaurant</a></h3>
                          <p class="rate">
                              <i class="icon-star"></i>
                              <i class="icon-star"></i>
                              <i class="icon-star"></i>
                              <i class="icon-star"></i>
                              <i class="icon-star-o"></i>
                              <span>8 Rating</span>
                          </p>
                          <p>Far far away, behind the word mountains, far from the countries</p>
                          <hr>
                          <p class="bottom-area d-flex">
                              <span><i class="icon-map-o"></i> San Franciso, CA</span> 
                              <span class="ml-auto"><a href="#">Book Now</a></span>
                          </p>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3 ftco-animate">
                  <div class="destination">
                      <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/restaurant-4.jpg);">
                          <div class="icon d-flex justify-content-center align-items-center">
                              <span class="icon-search2"></span>
                          </div>
                      </a>
                      <div class="text p-3">
                          <h3><a href="#">Luxury Restaurant</a></h3>
                          <p class="rate">
                              <i class="icon-star"></i>
                              <i class="icon-star"></i>
                              <i class="icon-star"></i>
                              <i class="icon-star"></i>
                              <i class="icon-star-o"></i>
                              <span>8 Rating</span>
                          </p>
                          <p>Far far away, behind the word mountains, far from the countries</p>
                          <hr>
                          <p class="bottom-area d-flex">
                              <span><i class="icon-map-o"></i> San Franciso, CA</span> 
                              <span class="ml-auto"><a href="#">Book Now</a></span>
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section> -->

    {% if article %}
        {% block article %}{% endblock %}
    {% endif %}


    {% if location %}
        {% block location %}{% endblock %}
    {% endif %}

        
    
{% endblock %}